// color
$theme-color: #7EE1AC;
$border-color: #c0c0c0;
$background-color: #F0F0F0;
$font-color: #838383;
$hover-color: #3DAF71;
$cancel-button-color: #E4E4E4;
$cancel-button-text-color: #737373;
$input-color-border: #c8c8c8;
$format-time-box-color: #D9D9D9;
//sizes

$nav-height: 8vh;
$view-port: 90vw;
$sidebar-width: 30vw;
$mode-edit-height: 8vh;
$modal-width: 70vw;
$modal-height: 50vh;
